:root {
    --white: #ffffff;
    --green: #5F8D6E;
    --light-gray: #F3F3F3;
    --dark-gray: #5F5F5F;
    --mid-grey: #8d8d8d;
    --gray2: #4f4f4f;
    --orange: #E8A05E;
    --bege:#F0EEE0;
    --background: #F5F5F5;
    --background-gray: #fafafa;
    --lirear: rgb(99, 158, 117);
    --large-screen: 1472px;
    --tablet-screen: 740px;
    --mobile-screen: 320px;
    --padding: 16px;

}

$small: 740px;
$desktop-large: 1472px;

