 
.tabs-horizon {
    margin-right: -16px;
    width: calc(100% + 16px);
}

.tabs-horizon__wrapper {
    max-width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

.tabs-horizon__btns  {
    display: grid;
    grid-auto-flow: column;
}

.tabs-horizon__panels {
    padding: 16px;
}
  
[role="tab"] {
    position: relative;
    z-index: 2;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;    
    outline: none;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--dark-gray);
    border-left:  1px solid var(--mid-grey);
    border-top:  1px solid var(--mid-grey);
    border-bottom:  1px solid var(--mid-grey);
    background: var(--light-gray);
    white-space: nowrap;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    
    &:last-child {
        border-right:  1px solid var(--mid-grey);
    }

    svg {
        fill: var(--dark-gray);
    }
}

[role="tab"]:focus,
[role="tab"]:hover {
    color: var(--green-text);
    background-color: var(--white);

    svg {
        fill: var(--green-text);
    }
}
  
[role="tab"][aria-selected="true"] {
    color: var(--white-text);
    background-color: var(--green);
    border-color: var(--green-text);
    svg {
        fill: var(--whiteText);
    }
}
  
[role="tabpanel"] {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: -16px;
        left: -32px;
        display: block;
        height: 1px;
        width: calc(100% + 64px);
        background-color: var(--mid-grey);           
    }

    &:last-child {
        &::after {
            content: '';
            position: absolute;
            top: -16px;
            right: -16px;
            display: block;
            width: 1px;
            background-color: var(--mid-grey);
            height: calc(100% + 32px)
        }

        &:before {
            width: calc(100% + 48px); 
        }
    }

    &:first-child {
        &:after {
            content: '';
            position: absolute;
            top: -16px;
            left: -16px;
            display: block;
            width: 1px;
            background-color: var(--mid-grey);
            height: calc(100% + 32px);
        }

        &:before {
            left: -16px;
            width: calc(100% + 48px); 
        }
    }
}
  
[role="tabpanel"].is-hidden {
    display: none;
}

@media (min-width: $small) {
    [role="tab"] {
        padding-top: 30px;
        padding-bottom: 31px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .tabs-horizon__panels {
        padding-top: 36px;
    }

    [role="tabpanel"] {   
        &:last-child {
            &::after {
                top: -36px;
                height: calc(100% + 52px)
            }
        }
    
        &:first-child {
            &::after {
                top: -36px;
                height: calc(100% + 52px)
            }
        }
    }
    
}

@media (min-width: 1000px) {
    .tabs-horizon__btns {
        width: 100%;
        max-width: 100%;;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    [role="tabpanel"] {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        &::before {
            display: none;
        }

        &:last-child {
            &::after {
               display: none;
            }
        }
    
        &:first-child {
            &:after {
                display: none;
            }
        }
    }

    [role="tab"] {
        background-color: var(--white);
    }
}
