.about__advantages,
.about__history,
.about__gallery,
.about__license {
    margin-bottom: 50px;
}

.about__intro {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.about__wrapper {
    padding-bottom: 50px;
}

.about__tour {
    position: relative;
    z-index: 1;
}


@media (min-width: 1000px) {
    .about__advantages {
        margin-bottom: 82px;
    }

    .about__years {
        margin-bottom: 50px;
    }
}


.about__advantages::before {
    display: none;
}
