.years {
    position: relative;
    background-color: var(--orange);

    &::before {
        content: '';
        position: absolute;
        bottom: 28px;
        left: 16px;
        width: calc(100% - 32px);
        height: 2px;
        background-color: var(--white);
    }
}

.years__container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 28px;

}

.years__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 17px;
    justify-items: center;
}

.years__desc {
    order: -1;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text);
}

@media (min-width: $small) {
    .years__desc {
        font-size: 1.375rem;

    }
}

@media (min-width: 1000px) {
    .years::before {
        width: 100%;
        left: 0;
    }

    .years__content {
        padding-left: 500px;
    }

    .years__desc {        
        padding-bottom: 23px;
    }

    .years__img {
        position: absolute;
        left: 0;
        bottom: 28px;
    }
}

@media (min-width: $desktop-large) {
    .years__img {
        bottom: 0;
        left: -4px;
    }
    
    .years__container {
        padding-top: 43px;
    }

    .years__content {
        padding-left: 514px;
        padding-bottom: 43px;
    }
}