.collage {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows:repeat(10, 1fr);
    position: relative;
    row-gap: 20px;
    aspect-ratio: 700 / 530;
}

.collage__part {
    position: relative;
    overflow: hidden;
}

.collage__right {
    border: 10px solid #F3F3F3;
    border-radius: 200px 200px 0px 0px;
    grid-row: 1/8;
    grid-column: 7/-1;   
}

.collage__left {
    border-radius: 0px 0px 200px 200px;
    grid-row: 5/-1;
    grid-column: 1/10;
}

.collage__img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.collage__frame {
    border: 1px solid black;
    border-radius: 0px;
    grid-row: 3 / -2;
    grid-column: 2/ -3;
}

.collage__img-right {
    position: absolute;
    top: 30%;
    left: 45%;
    rotate: -6deg;
    width: 50%;
}

.collage__img-left {
    position: absolute;
    top: 5%;
    left: 8%;
    rotate: 4deg;
    width: 40%;
}
