.comment {
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px;
    background-color: var(--light-gray);
}

.comment__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid var(--mid-grey);
}

.comment__name {
    margin: 0;
    margin-bottom: 12px;
    font-family: Elisabethische,serif;
    font-size: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-gray);
}

.comment__remark {
    margin: 0;
    margin-bottom: 24px;
    font-size: 0.875;
    text-align: center;
    color: var(--dark-gray);
}

.comment-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
}

.comment-form__label {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;

}

.comment-form__input {
    order: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--dark-gray);
}

.comment-form__name {
    margin:0;
    order: -1;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: var(--dark-gray);
}

.comment-form__textarea {
    display: flex;
    align-items: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--dark-gray);

    ::-webkit-input-placeholder {
        vertical-align: bottom;
        text-align: right;
        color: var(--mid-grey);
    }

    &:hover,
    &:focus,
    &:focus-within {
        outline: 0;
    }
}