.feedback__wrapper {
    display: grid;
    grid-auto-flow: row;
    row-gap: 36px;
}

.feedback__list {
    display:grid;
    grid-auto-flow: row;
    gap: 24px;
    margin-left: -16px;
    margin-right: -16px;
}

.feedback__item {
    background-image: url('../img/reviews-bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (min-width: $small) {
    .feedback__list {
        row-gap: 36px;
    }
}

@media (min-width: 1000px) {
    .feedback__list {
        margin-left: 0;
        margin-right: 0;
    }
}