.footer {
	background-image: url(../img/footer-bg-m.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 36px 0;
}

.footer-logo {
	display: flex;
	align-items: center;
	column-gap: 16px;
	text-decoration: none;

	img {
		width: 145px;
		height: 66px;
	}
}

.footer-logo__text {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1;
	color: var(--white-text);
}

.footer-line--top {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
	padding-bottom: 16px;
}

.footer .info-menu-contact__item {
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 130%;
	color: var(--white-text);

	svg {
		width: 24px;
		height: 24px;
		fill: var(--white-text);
	}

	a {
		color: var(--white-text);
		text-decoration: none;
	}
}

.footer .info-menu-contact__desc {
	color: var(--white-text);
	font-size: 0.625rem;
}

.footer .info-menu-contact__caption {
	color: var(--white-text);
	font-size: 0.75rem;
}

.footer .info-menu-contact {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	row-gap: 16px;
	flex-basis: 100%;
}

.footer__phones {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	flex-basis: 100%;
}

.footer__phones .phone-link {
	color: var(--white-text);
	text-decoration: none;
	row-gap: 6px;
}


.footer__socials .socials__link svg { 
	fill: var(--white-text);
}

.footer-line--mid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	row-gap: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 0.75rem;
	color: var(--gray3);
	border-top: 1px solid var(--mid-grey);

	a {
		color: var(--gray3);
	}
}

.footer-copyright {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	row-gap: 16px;
	color: var(--gray3);
}

.footer-line--bottom {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	row-gap: 24px;
	padding-top: 16px;
	color: var(--gray3);
	border-top: 1px solid var(--mid-grey);
}

.footer__qr {
	width: 60px;
	height: 60px;
}

.footer-desc {
	font-weight: 500;
	font-size: 0.625rem;
	line-height: 145%;
	color: var(--gray3);
}

.footer-warning {
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 130%;
	color: var(--gray3);
}

.footer__link {
	text-decoration: none;
}

@media (min-width: 500px) {
	.footer-line--top {
		display: grid;
		grid-template-columns: repeat(2, minmax(0,1fr));
		align-items: flex-start;
		column-gap: 16px;
	}
}

@media (min-width: $small) {
	.footer-logo {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		row-gap: 8px;
	}

	.footer .info-menu-contact__desc {
		font-size: 0.75rem;
	}

	.footer .info-menu-contact__caption{
		font-size: 0.875rem;
	}

	.footer .info-menu-contact__item  {
		column-gap: 12px;
	}

	.footer-line--mid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 40px;
		font-size: 0.874rem;
	}

	.footer-copyright {
		display: flex;
		column-gap: 40px;
	}

	.footer-line--top {
		display: flex;
		justify-content: space-between;
	}

	.footer .info-menu-contact {
		flex-basis: auto;
	}

	.footer__phones {
		flex-basis: auto;
	}
}

@media (min-width: 1000px) {
	.footer-line--top {
		align-items: center;
		column-gap: 42px;
	}

	.footer .info-menu-contact {
		display: flex;
		align-items: center;
		column-gap: 42px;
	}

	.footer__phones {
		order: 1;
	}


	.footer__qr {
		width: 120px;
		height: 120px;
	}
	

	.footer-line--bottom {
		display: flex;
		column-gap: 68px;
		align-items: center;
	}

	.footer-warning {
		font-weight: 300;
		font-size: 2rem;
	}
}