.header-menu__wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-menu-back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    span {
        font-size: 0.625rem;
        color: var(--mid-grey);
    }
}

.header-menu-back {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 16px;
        display: block;
        width: calc(100% - 16px);
        height: 1px;
        background-color: var(--mid-grey);
    }

}



.header-menu__item {
    position: relative;
    display: flex;
    align-items: center;    

    a {
        flex-grow: 1;
        padding-left: 16px;
        padding-right: 16px;
        text-decoration: none;
    }

    &:first-child > a {
        padding-top: 16px;
    }

    &:last-child > a {
        padding-bottom: 16px;
    }
}

.header-menu__item > a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--green);
    background: var(--light-gray);   
}

.header-menu__item--inner > a {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 16px;
        top: 50%;
        height: 10px;
        width: 10px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04LjA3NjY3IDFMNC43NTI0NSA0LjMyNDlMMS40MjgyMiAxTDAgMi40MjgyMkw0Ljc1MjQ1IDcuMThMOS41MDQ5IDIuNDI4MjJMOC4wNzY2NyAxWiIgZmlsbD0iIzVGOEQ2RSIvPgo8L3N2Zz4K);
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(-90deg);
        transition: transform .3s,-webkit-transform .3s;
    }
} 

.inner-menu {
    display: none;
}

.list-service {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu-back {
    display: none;
    margin-bottom: 12px;
}

.list-service__item {
    padding-left: 16px;
    border-bottom: 1px solid var(--light-gray);

    a {
        display: flex;
        gap: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 0;
        padding-right: 0;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--dark-gray);
        text-decoration: none;

        svg {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            fill: none;
        }

       
    }
}

.service-content__col {
    &:last-child {
        .list-service__item:last-child {
            border-bottom: 0;
        }
    }
}


@media (min-width: 1000px) {
    .header-menu {
        flex-basis: 100%;
    }

    .header-menu__wrap {
        display: flex;
        flex-basis: 100%;
    }

    .header-menu__wrap {
        display: flex;
        flex-basis: 100%;
    }

    .header-menu__item  {
        position: static;
        flex-grow: 1;
        align-items: stretch;
    }

    .header-menu__item > a {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 6px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        transition: color 0.3s ease-in-out;
    }

    .header-menu__item--inner > a::after {
        position: relative;
        right: auto;
        top:auto;
        transform: translateY(0);
    }

    .inner-menu {
        position: absolute;
        top: 100%;
        left: -230px;
        right: 0;
        display: none;
        padding-top: 12px;
        background-color: var(--white);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        .service-content {
            flex-grow: 1;
        }
        
    }

    .service-content__item {
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
        column-gap: 45px;
        padding: 24px;
        border: 1px solid var(--dark-gray);
    }

    .list-service__item:last-child {
        border-bottom: 0;
    }

    .list-service__item a {
        font-style: 1rem;
        align-items: center;
        transition: color 0.3s ease-in-out;

        svg {
            width: 36px;
            height: 36px;
        }

        &:hover,
        &:focus {
            color: var(--green);           
        }
    }

    .header-menu__item:hover,
    .header-menu__item:focus {
        & > a {
            color: var(--dark-gray);
        }
    }

    .header-menu__item--inner:hover,
    .header-menu__item--inner:focus {

        a::after {
            color: var(--dark-gray);
            transform: translateY(0) rotate(-180deg);
            filter: brightness(.7) grayscale(1);
        }

        .inner-menu {
            display: flex;
            opacity: 1;
        }
    }     
}

@media (min-width: 1200px) {
    .header-menu {
       flex-basis: 70%;
       flex-grow: 1;
       column-gap: 27px;     
    }

    .service-content__item {
        grid-template-columns: repeat(5, minmax(0,1fr));
    }

    .header-menu__item > a {
        height: 50px;
    }
}
