.index__advantages {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.index__doctors,
.index__advantages,
.index__years,
.index__tour,
.index__text,
.index__promo,
.index__services {
    margin-bottom: 50px;
}

.index__promo {
    background-color: var(--white);
}


@media (min-width: $desktop-large) { 
    .index__doctors {
        .h2--star::after { 
            background-image: url(../img/star-white.svg);
        }
    }

    .index__services {
        margin-bottom: 36px;
    }
}