.info-menu {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    order: 1;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: var(--padding);
    width: 100%;

    &:after {
        content: '';
        position: absolute;
        left: var(--padding);
        bottom: 0;
        display: block;
        width: calc(100% - var(--padding));
        height: 1px;
        background-color: var(--light-gray);
    }
}

.header .info-menu {
    column-gap: 20px;
}

.info-menu-phones {
    display: grid;
    grid-auto-flow: row;
    a {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.2;
        color: var(--green-text);
        text-decoration: none;
    }    
}

.info-menu-contact__item {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    svg {        
        width: 22px;
        height: 22px;
        color: var(--green-text);
        fill: var(--green-text);
    }
}

.info-menu-contact__main {
    display: grid;
    grid-auto-flow: row;
}

.info-menu-contact__desc {
    font-size: 0.625rem;
    color: var(--mid-grey);
}

.info-menu-contact__caption,
.info-menu-contact__caption a {
    font-size: 0.75rem;
    color: var(--dark-gray);
    text-decoration: none;
}

@media (min-width: 1000px) {
    .info-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        order: 0;
        padding-top: 8px;
        padding-bottom: 8px;        
    }

    .info-menu::after {
        display: none;
    }

    .info-menu-search {
        max-width: 153px;
        box-sizing: border-box;
        order: 1;
    }

    .info-menu-contact {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    .header .info-menu-phones {
		font-size: 1rem;
		line-height: 1.3;
        white-space: nowrap;
        order: 1;
	}
}

@media (min-width: 1391px) {
    .info-menu {
        padding-left: 34%;
    }
}

@media (min-width: $desktop-large) { 
    .info-menu-contact {
        column-gap: 19px;
    }
}