@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fadein{
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeout {
    animation: fadeout 0.4s ease-in-out;
}

.fadein {
    animation: fadein 0.4s ease-in-out;
}

.popup {
    position: fixed;
    top: -10000px;
    left: 50%;
    z-index: 1;
    width: calc(100% - 32px);
    max-width: 593px;
    padding: 12px;
    transform: translate(-50%, -50%);
    background-color: var(--white);
}

.popup-overlay {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: rgba(0,0,0, 0.5);
}

.popup-overlay.opened {
    top: 0;
}

.popup.opened {
    top: 50%;
}

.popup__wrapper {
    position: relative;
    padding: 24px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--dark-gray);
}

.popup__close {
    position: absolute;
    top: -48px;
    right: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--dark-gray);
    background-color: var(--white);
    border-radius: 50%;
}

.popup__head {
    margin-bottom: 24px;
    color: var(--dark-gray)
}

.popup__name {
    font-family: Elisabethische, serif;
    font-size: 1.5rem;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
}

.popup__remark {
    padding-top: 12px;
}

@media (min-width: $small) {
    .popup__wrapper {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 36px;
        padding-bottom: 36px;
    }

    .popup__name {
        font-size: 2.25rem;   
    }


    .popup__head  {
        margin-bottom: 2.25rem;
    }

    .popup__close {
        top: -40px;
        right: -40px;
    }
}
