.promo-block {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bege);
}

.promo-block__container {
    position: relative;
}

.promo-block__btn {
    position: absolute;
    top: -7px;
    right: 16px;
}

.promo-block__h2 {
    margin-right: 130px;
    margin-bottom: 36px;

    &::after {
        background-image: url('../img/star-white.svg');
    }
}

.promo-block__slider {
    overflow: hidden;
    width: calc(100% + 16px);
    margin-right: -16px;
}

.promo-block__item  {
    width: 240px;
    height: auto;
}

.promo-block__item--large {
    width: 496px;
}

.promo-block__left,
.promo-block__right {
    fill: none;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    display: none;

    &:hover,
    &:focus {
        opacity: 1;
    }
}



@media (min-width: $small) {
    .promo-block__item {
        width: calc(25% - 30px);
    }

    .promo-block__item--large {
        width: calc(50% - 30px);
    }

    .promo-block__btn {
        top: -5px;
    }

    .promotion__img-wrap {
        height: auto;
    }
}

@media (min-width: 1000px) {
    .promo-block--years {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {

    .promo-block__slider {
        margin-right: 0;
        width: 100%;
    }    
}

@media (min-width: $desktop-large) {
    .promo-block__btn {
        top: 40px;
    }
}




@media (min-width: 1000px) {
    .promo-block--years {
        padding-bottom: 150px;
    }
}

@media (min-width: 1478px) {
    .promo-block__left,
    .promo-block__right {
        position: absolute;
        top: 50%;
        z-index: 1;
        display: block;
        width: 36px;
        height: 36px;
        transform: translateY(-50%);
    }

    .promo-block__left {
        left: -12px;
    }

    .promo-block__right {
        right: -12px;
    }
}

@media (min-width: 1644px) {
    .promo-block__left {
        left: -72px;
    }

    .promo-block__right {
        right: -72px;
    }
}