.review-slider {
    position: relative;    
}

.review-slider__h2 {
    margin-bottom: 36px;
}

.review-slider__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
    background-image: url('../img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.6;
        background-color: var(--bege);
    }
}

.review-slider__controls {
    position: absolute;
    top: 0;
    right: 17px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 83px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--bege2);
    border-radius: 0px 0px 24px 24px;
}

.review-slider__fractions {
    font-family: Elisabethische, serif;
    font-size: 1.5rem; 
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

    .swiper-pagination-current {
        position: relative;
        right: -5px;
    }

    .swiper-pagination-total{
        position: relative;
        left: -5px;
    }
}

.review-slider__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-basis: 100%;
    text-align: center;
}

.review-slider__left,
.review-slider__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19px;
    height: 19px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

    svg {
        fill: none;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.review-slider__left {
    transform: scale(-1,1);
}

.review-slider__slider {
    width: 100%;
    overflow: hidden;
}

.review-slider__btn {
    position: relative;
    z-index: 1;
    width: calc(100% - 32px);
}

@media (min-width: 600px) {
    .review-slider__btn {
        width: auto;
    }
}

@media (min-width: 1000px) {
    .review-slider__wrapper {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        margin-left: 0;
        margin-right: 0;

    }

    .review-slider__controls {
        right: 50px;
        width: 122px;
        height: 130px;
    }

    .review-slider__fractions {
        font-size: 2.25rem;
        line-height: 130%;

        .swiper-pagination-current {
            right: -9px;
        }
    
        .swiper-pagination-total{
            left: -9px;
        }
    }
}

@media (min-width: $desktop-large) {
    .review-slider {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: -300px;
            display: block;
            width: 290px;
            height: 700px;
            background-image: url('../img/bg-flowers3.png');
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
        } 
    }
}

@media (min-width: 1900px) {
    .review-slider {
        &::before {
            z-index: 3;
        }
    }
}