.review-slider__h2 {
    margin-bottom: 36px;
}

.review-slider__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 24px;
    margin-left: -16px;
    margin-right: -16px;
    background-image: url('../img/reviews-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.review-slider__pagination {
    position: absolute;
    top: 0;
    right: 17px;
    width: 83px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: var(--bege2);
}

.review-slider__fractions {
    font-family: Elisabethische, serif;
    font-size: 1.5rem; 
    text-transform: uppercase;
   
}
