.search-block,
.prices__search-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 6px;
}

.search-block__name,
.prices__search-block-name {
    flex-basis: 100%;
    margin: 0;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 130%;
    color: var(--dark-gray);
    text-transform: uppercase;
}

.search-block__label,
.prices__search-block-label {
    display: flex;
    max-width: 327px;
    width: 100%;
    border-bottom: 1px solid var(--dark-gray);
}

.custom-select {
    position: relative;
    min-height: 20px;
}

.search-block__input,
.prices__search-block-input,
.search-block__select,
.custom-select__select {
    padding-bottom: 5px;
    width: 100%;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 130%;
    color: var(--mid-grey);
    border:0;    
    border-radius: 0;
    background-color: transparent;
    cursor: auto;
}

.search-block__select,
.custom-select__select {
    cursor: pointer;
}

.search-block__select option {
    line-height: 24px;
    background-color: var(--white);
    border-bottom: 1px gray;
}

.custom-select__select:after {
    position: absolute;
    content: "";
    bottom: 5px;
    right: 0px;
    display: block;
    width: 10px;
    height: 8px;
    background-image: url('../img/chevron.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

.custom-select__select.custom-select__select--active:after {
    transform: rotate(180deg);
}

.custom-select .search-block__select {
    display: none;
}

.custom-select__options {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    max-height: 250px;
    background-color: var(--white);
    overflow-y: auto;
    border: 1px solid var(--dark-gray);

    div {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--dark-gray);
        border-bottom: 1px solid var(--light-gray);
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: var(--light-gray);
        }

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    .selected {
        background-color: var(--light-gray);
    }
}


.custom-select__select.custom-select__select--active + .custom-select__options {
    display: block;
}
