.secondary-menu {
    display: grid;
    grid-template-columns: 1fr;
    order: 2;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.secondary-menu-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.secondary-menu-list__item {
    a {
        display: flex;
        align-items: center;
        padding-left: var(--padding);
        padding-right: var(--padding);
        font-size: 0.813rem;
        text-align: center;
        color: var(--mid-grey);
        text-decoration: none;;
    }
}

.secondary-menu__btn {
    justify-self: flex-start;
    margin-left: var(--padding);
    width: 24px;
    height: 24px;
    color: var(--mid-gray);
}

@media (min-width: 1000px) {
    .secondary-menu {
		order: 0;
        display: flex;
        flex-basis: 100%;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--light-gray);
	}

    .secondary-menu-list {
        display: flex;
        gap: 0;
    }
}