.service-page__top {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-page__top-text {
    display: grid;
    grid-template-columns: 1fr;

    p {
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;
        font-size: 1rem;
        line-height: 140%;
    }

    p + .list--info {
        padding-top: 10px;
    }
}

.service-page__h2 {
    justify-self: flex-start;
    margin-bottom: 36px;
}

.service-page__text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.service-page__about,
.service-page__rates,
.service-page__steps,
.service-page__indications,
.service-page__doctors,
.service-page__promo,
.service-page__years {
    margin-bottom: 50px;
}

.service-page__indications {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
}

.service-page__indications-img {
    position: relative;
    align-self: flex-start;

    img {
        width: 100%;
        height: auto;
    }

    &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border: 1px solid var(--white);
    }

}


@media (min-width: $small) {
    .service-page__top {
        grid-template-columns: 1fr 1fr;
        column-gap: 36px;
        align-items: center;
    }

    .service-page__indications-col:nth-child(3n) {
        grid-column: span 2;
    }

    .service-page__indications {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 36px;
        justify-items: center;
    }
}

@media (min-width: 1000px) {
    .service-page__promo {
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .service-page__indications {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 36px;
        justify-content: space-between;
    }

    .service-page__indications-col:nth-child(3n) {
        grid-column: span 1;
        width: 100%;
    }   

    .service-page__top {
        column-gap: 94px;
        align-items: flex-start;
    }
}

@media (min-width: $desktop-large) {
    .service-page__indications {
        grid-template-columns: minmax(0,386px) minmax(0,386px) minmax(0,450px);
    }

    .service-page__indications-col:nth-child(3n)  {
        padding-top: 43px;
        width: 100%;
    }
}