.service-menu-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 14px;
    padding-right: 16px;
    background-color: rgba(240,238,224, 0.9);
}

.service-menu-wrapper.service-menu-wrapper--doctor {
    grid-template-columns: minmax(0, 1fr);
}

.service-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;    
    list-style: none;
}
.service-menu--doctor {
    align-items: initial;
    align-content: initial;
}

.service-menu__sub {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    max-height: 0;
    list-style: none;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.service-menu__item {
    position: relative;
}

.service-menu__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.service-menu > .service-menu__item > .service-menu__link {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 130%;  
    color: var(--green-text);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: var(--dark-gray);
    }
}
.service-menu--doctor > .service-menu__item > .service-menu__link {
    margin-right: 0;
}

.service-menu > .service-menu__item {
    border-bottom: 1px solid var(--mid-grey);
}

.service-menu:last-child > .service-menu__item:last-child {
    border: 0;
}

.service-menu__sub .service-menu__link {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 36px;
    font-size: 0.75rem;
    line-height: 130%;
    color: var(--dark-gray);
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        width: 24px;
        height: 1px;
        background-color: var(--dark-gray);
    }

    &:hover,
    &:focus {
        color: var(--green-text);
    }
}

.service-menu__sub .service-menu__item {
    &:first-child .service-menu__link{
        padding-top: 0;

        &:before {
            content: '';
            position: absolute;
            top: 7px;
        }
    }

    &:last-child .service-menu__link{
        padding-bottom: 16px;
    }
}


.service-menu__opener {
    position: absolute;
    top: 16px;
    width: 15px;
    height: 15px;
    right: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    span {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: var(--dark-gray);
            transform: translate(-50%, -50%);
        }

        &::before {
            width: 16px;
            height: 1px;
        }

        &::after {
            height: 16px;
            width: 1px;
            transition: height 0.3s ease-in-out;
        }
    }
}

.service-menu__item--sub.opened {
    .service-menu__opener span::after {
        height: 0;
    }
}

.service-menu__item--sub.opened .service-menu__sub {
    max-height: 2000px;
}

@media (min-width: $small) {
    .service-menu-wrapper,
    .service-menu--doctor {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 54px;
    }

    .service-menu:nth-last-child(2) > .service-menu__item:last-child {
        border: 0;
    }

    .service-menu > .service-menu__item > .service-menu__link { 
        font-size: 1rem;
    }

    .service-menu__sub .service-menu__link {
        font-size: 0.875rem;
    }

}

@media (min-width: 1000px) {
    .service-menu-wrapper,
    .service-menu--doctor {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-columns: masonry;
        column-gap: 54px;
        padding: 36px;
    }

    .service-menu:nth-last-child(3) > .service-menu__item:last-child {
        border: 0;
    }
}

@media (min-width: $desktop-large) {
    .service-menu-wrapper {
        z-index: 1;
    }
    .service-menu--doctor {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .service-menu-block {
        position: relative;

        &::before {
            content: '';
            position:absolute;
            bottom: -181px;
            right:-194px;
            z-index: 0;
            display: block;
            height: 275px;
            width: 673px;
            background-image: url('../img/bg-flowers4.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
        }
    }
}