.top-page {
    padding-top: 34px;
    padding-bottom: 36px;
}

.top-page--gray {
    background-color: var(--background-gray);
    background-image: url('../img/bg-gray.jpg');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}

.top-page--bege {
    //background-color: var(--background-gray);
    background-image: url('../img/bg-vintage.png');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;   
}

.top-page--nobg {
    background-color: var(--light-gray);
}

.top-page--promo {
    text-align: center;
}

.top-page--service {
    padding-top: 24px;
    padding-bottom: 34px;
    text-align: center;

    .top-page__bread {
        margin-bottom: 14px;
    }

    .top-page__img-wrapper {
        position: relative;
        margin-bottom: 34px;
        width: 200px;
        height: 200px;
        border-radius: 50%;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            display: block;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            transform: translate(-50%, -50%);
            border: 1px solid var(--white);
            border-radius: 50%;
        }
    }
}

.top-page--about {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 50px;
    background-color: var(--background-gray);
    background-image: url('../img/bg-about.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    }
}

.top-page__bread {
    margin-bottom: 24px;
}

.top-page__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.top-page__img-wrapper {
    position: relative;
    width: 260px;
    margin-bottom: 24px;
    aspect-ratio: 260 / 244;
    overflow: hidden;
}

.top-page__img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}

.top-page__h1 {
    font-family: Elisabethische,serif;
    margin-bottom: 12px;
}

.top-page__subname {
    max-width: 1000px;
    font-size: 1rem;
    line-height: 130%;
    color: var(--dark-gray);
}

.top-page__rates {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 9px;
    padding-top: 27px;
}

.top-page__new {
    margin: 0;
    font-weight: 600;
    font-size: 1.375rem;
    text-align: center;
    color: var(--green);
}

.top-page__old {
    margin: 0;
    font-size: 1.125rem;
    text-decoration-line: line-through;
    color: var(--mid-gray);
}

.top-page__dates {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-bottom: 25px;
    font-size: 0.75rem;
    line-height: 130%;
    color: var(--dark-gray);
}

.top-page__dates--text {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--dark-gray);
}

.top-page__btn {
    width: 100%;
    height: 66px;
}

.top-page__service-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 9px;
    column-gap: 0;
    row-gap: 50px;
    text-align: left;

    .top-page__btn {
        grid-column: span 2;
    }
}

.top-page__from {
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 16px;
    row-gap: 2px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.top-page__from-text {
    font-size: 0.75rem;
    color: var(--dark-gray);

   
}

.top-page__from-price {
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark-gray);
}

.top-page__from-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
    width: 37px;
    height: 37px;

    svg {
        display: block;
        width: 35px;
        height: 35px;
        box-sizing: border-box;
    }
}

.top-page__text,
.top-page__left {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
}

.top-page__logo {
    margin-bottom: 24px;
    width: 177px;
    height: 80px;
}

.top-page__about {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-bottom: 16px;
}

.top-page__about-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 12px;
    align-items: center;
    align-content: center;

    p {
        margin: 0;
        font-size: 1rem;
    }
}

.top-page__about-svg {
    width: 50px;
    height: 50px;
    fill: none;
}

.top-page__about-img {
    width: 100%;
}

@media (min-width: 550px) {
    .top-page__about {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }

    .top-page__about-item {
        grid-template-columns: 1fr;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        row-gap: 12px;
    }
}

@media (min-width: $small) {
    .top-page__container {
        grid-template-columns: 200px 1fr;
        gap: 20px;
    }

    .top-page--promo {
        text-align: left;
    }
    
    .top-page--service {
        text-align: left;
    }

    .top-page--gray,
    .top-page--about,
    .top-page--nobg {
        margin-top: 12px;
    }

    .top-page__service-block {
        grid-template-columns: auto auto auto;
    
        .top-page__btn {
            grid-column: span 1;
        }
    }

    .top-page__img-wrapper {
        width: 100%;
    }

    .top-page__rates {
        justify-content: flex-start;
    }

    .top-page__dates {
        justify-content: flex-start;   
    }

    .top-page__btn {
        justify-self: flex-start;
        align-self: center;
        width: unset;
        height: 50px;
    }

    .top-page__subname {
        font-size: 1.125rem;
    }

    .top-page__container-about {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .top-page__about-img {
        position: absolute;
        width: calc(50% + 16px);
        bottom: 0;
        right: -16px;
    }
    
    
}

@media (min-width: 1000px) {
    .top-page__container {
        grid-template-columns: 320px 1fr;
        gap: 50px;
    }

    .top-page__rates {
        padding-top: 36px;
    }

    .top-page__dates {
        margin-bottom: 37px;
    }

    .top-page--service {
        padding-top: 39px;
        padding-bottom: 65px;

        .top-page__container {
            grid-template-columns: 300px 1fr;
            gap: 60px;
        }

        .top-page__img-wrapper {
            width: 300px;
            height: 300px;
        }

        .top-page__bread {
            margin-bottom: 36px;
        }
    }

    .top-page__service-block {
        column-gap: 70px;
        justify-content: flex-start;
        padding-top: 36px;
    }

    .top-page--promo {
        background-image: url('../img/bg-flowers.png');
        background-position: right 30%;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .top-page__about-item {   
        p {
            font-size: 1.125rem;
        }
    }
}

@media (min-width: 1200px) {
    .top-page__container-about {
        grid-template-columns: 1fr 570px;
    }

    .top-page--about::after {
        height: 236px;
    }

    .top-page__logo {
        margin-bottom: 36px;
        width: 265px;
        height: 120px;
    }

    .top-page__about-img {
        width: 570px;
    }

    
    .top-page__left {
        padding-bottom: 60px;
    }

    .top-page__about-item {
        column-gap: 36px;
    }

}


@media (min-width: $desktop-large) {
    .top-page {
        padding-top: 36px;
    }

    
    .top-page__bread {
        margin-bottom: 36px;
    }

    .top-page__subname {
        font-size: 1.125rem;
    }
   
}

@media (min-width: 1550px) {
    .top-page__about-img {
        width: 641px;
    }
}